<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProjectAlarm.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3AA9DEE9297AFDA0008BC350</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AA9DEFF297AFDA2008BC350</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AA9DF09297AFDA2008BC350</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
